<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"></p>
      <h2>\\Member List//</h2>
      <h5 class="d-inline highlight">会員一覧</h5>
      <div class="my-4">
        <table class="table table-hover">
          <tr>
            <th class="custom-header">会員ID</th>
            <th class="custom-header">ニックネーム</th>
            <th class="custom-header">メールアドレス</th>
            <th class="custom-header">ステータス</th>
          </tr>
           <% @members.each do |member| %>
            <tr class="table-link" data-href="/admin/member/<%= member.id %>">
              <td>
                <%= member.id %>
              </td>
              <td>
                <span class="text-dark text-decoration-underline">
                  <%= member.nick_name %>
                </span>
              </td>
              <td>
                <%= member.email %>
                </td>
                <td>
                <%= link_to "詳細ページ",admin_member_path(member.id) %>
              </td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>
