<div class="container">
  <div class="row">
    <div class="col-md-10 offset-1">
      <p id="notice">
      	<%= notice %>
      </p>
      <h2>\\Members Details Page!!//</h2>
      <%= @member.nick_name %>さんの会員詳細
		  <table class="table">
				<tr>
					<td class="col-2" >Name ＞>></td>
					<td class="col-2"><%= @member.name %></td>
				</tr>
				<tr>
					<td class="col-2" >Nick Name ＞>></td>
					<td class="col-2"><%= @member.nick_name %></td>
				</tr>
				<tr>
					<td class="col-2" >introduction ＞>></td>
					<td class="col-2"><%= @member.introduction %></td>
				</tr>
				<tr>
					<td>Mail ＞>></td>
					<td><%= @member.email %></td>
				</tr>
		  </table>
		
			<div class = "text-center mt-3">
				<%= link_to "#{@member.nick_name}さんの情報を編集する", edit_admin_member_path, class: "btn custom-button btn-outline-danger col-6" %>
			</div>
			<div class = "text-center mt-3">
				<%= link_to "#{@member.nick_name}さんの投稿一覧をみる", list_admin_member_reviews_path(@member), class: "btn custom-button btn-outline-secondary col-6" %>
			</div>
			<div class = "text-center mt-3">
				<%= link_to "会員情報・投稿を全て削除する",admin_member_path(@member), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn custom-button btn-outline-danger col-6"%>
	    </div>
	    
    </div>
  </div>
</div>
