</div><div class="container">
	<div class="row">
    <div class="col-md-8 center">
      <p id="notice"></p>
      <h2>\\Members Details Page!!//</h2>
      <%= @member.nick_name %>さんの会員詳細
    </h5>
	<table class="table">
		<tr>
			<td class="col-2" >Name ＞>></td>
			<td class="col-2"><%= @member.name %></td>
		</tr>
		<tr>
			<td class="col-2" >Nick Name ＞>></td>
			<td class="col-2"><%= @member.nick_name %></td>
		</tr>
		<tr>
			<td class="col-2" >introduction ＞>></td>
			<td class="col-2"><%= @member.introduction %></td>
		</tr>
		<tr>
			<td>Mail ＞>></td>
			<td><%= @member.email %></td>
		</tr>
	</table>

		<%= link_to edit_admin_member_path do %>
			<button class="btn custom-button btn-outline-danger col-6"><%= @member.nick_name %>さんの情報を編集する</button>
		<% end %>
		<br />
		<%= link_to list_admin_member_reviews_path(@member) do %>
			<button class="btn custom-button btn-outline-secondary col-6 mt-3"><%= @member.nick_name %>さんの投稿一覧をみる</button>
		<% end %>
		<br />
		<%= link_to edit_admin_member_path do %>
			  <%= button_tag "全て削除する", class: "btn custom-button btn-outline-danger col-6 mt-3", method: :delete, data: { confirm: "本当に削除しますか？" } %>
			<% end %>
    </div>
	</div>
</div>
