<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto text-center position-relative">
      <div class="about-image-container">
        <div class="image-container">
          <%= image_tag "a1.png", size: "200x200" %>
          <%= image_tag "a2.png", size: "200x200" %>
          <%= image_tag "a3.png", size: "200x200" %>
          <%= image_tag "a4.png", size: "200x200" %>
          <%= image_tag "a5.png", size: "200x200" %>
        </div>
        <div class="image-container">
          <%= image_tag "a6.png", size: "200x200" %>
          <%= image_tag "a7.png", size: "200x200" %>
          <%= image_tag "a8.png", size: "200x200" %>
          <%= image_tag "a9.png", size: "200x200" %>
          <%= image_tag "a10.png", size: "200x200" %>
        </div>
        <div class="image-container">
          <%= image_tag "a11.png", size: "200x200" %>
          <%= image_tag "a12.png", size: "200x200" %>
          <%= image_tag "a13.png", size: "200x200" %>
          <%= image_tag "a14.png", size: "200x200" %>
          <%= image_tag "a15.png", size: "200x200" %>
        </div>
        <div class="image-container">
          <%= image_tag "a16.png", size: "200x200" %>
          <%= image_tag "a17.png", size: "200x200" %>
          <%= image_tag "a18.png", size: "200x200" %>
          <%= image_tag "a19.png", size: "200x200" %>
          <%= image_tag "a20.png", size: "200x200" %>
        </div>
        <div class="image-container">
          <%= image_tag "a21.png", size: "200x200" %>
          <%= image_tag "a22.png", size: "200x200" %>
          <%= image_tag "a23.png", size: "200x200" %>
          <%= image_tag "a24.png", size: "200x200" %>
          <%= image_tag "a25.png", size: "200x200" %>
        </div>
      </div>
            
      <div class="text">
        <p>全国の絶品お取り寄せのレビューサイトです<i class="far fa-smile"></i></p>
          <h1 class="px-3">
            Deli
            <i class = "fas fa-utensils"></i>
            Memo
          </h1>
          このサイトを見ているみなさんで<br>
          全国のお取り寄せグルメをおすすめしたり、<br>
          ”私だけの”おすすめを覚書メモにご使用いただくことも可能です。<br>
          <br>
          ログインをしなくても、レビューをご覧いただくことが出来ますが、<br>
          ぜひログインしてあなたのおすすめレビューを教えてください<i class="far fa-smile"></i>
      </div>
          
    </div>
  </div>
</div>
