<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- CSSファイルの読み込み -->
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <div style="text-align: center;">
              <h2>\\Like<i class="text-danger">♡</i>Ranking!!//</h2>
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             <ul style ="list-style: none; padding: 0;">
              <% @reviews_like.each.with_index(1) do |review,index| %>
              <!--.with_index(1)→eachで１から順番に呼び出し|review,index|の記載忘れずに-->
                <li>
                  <%= link_to review_path(review.id), class: "text-decoration-none text-dark" do %>
                    №<%= index %>
                    <%= image_tag review.review_image.variant(resize: '70x70') if review.review_image.attached? %>
                    <i class="text-danger">♥</i><%= review.likes.count %> いいね<br />
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                  <% end %>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
          <div class="col-md-8 offset-md-1">
            <div class="top-image-container">
              <%= image_tag "a1.png", size: "150x150" %>
              <%= image_tag "a2.png", size: "150x150" %>
              <%= image_tag "a3.png", size: "150x150" %>
              <%= image_tag "a4.png", size: "150x150" %>
              <%= image_tag "a5.png", size: "150x150" %>
            </div>
            <div class="top-image-container">
              <%= image_tag "a6.png", size: "150x150" %>
              <%= image_tag "a7.png", size: "150x150" %>
              <%= image_tag "a8.png", size: "150x150" %>
              <%= image_tag "a9.png", size: "150x150" %>
              <%= image_tag "a10.png", size: "150x150" %>
            </div>
            <div class="top-image-container">
              <%= image_tag "a11.png", size: "150x150" %>
              <%= image_tag "a12.png", size: "150x150" %>
              <%= image_tag "a13.png", size: "150x150" %>
              <%= image_tag "a14.png", size: "150x150" %>
              <%= image_tag "a15.png", size: "150x150" %>
            </div>
            <div class="top-image-container">
              <%= image_tag "a16.png", size: "150x150" %>
              <%= image_tag "a17.png", size: "150x150" %>
              <%= image_tag "a18.png", size: "150x150" %>
              <%= image_tag "a19.png", size: "150x150" %>
              <%= image_tag "a20.png", size: "150x150" %>
            </div>
            <div class="top-image-container">
              <%= image_tag "a21.png", size: "150x150" %>
              <%= image_tag "a22.png", size: "150x150" %>
              <%= image_tag "a23.png", size: "150x150" %>
              <%= image_tag "a24.png", size: "150x150" %>
              <%= image_tag "a25.png", size: "150x150" %>
            </div>

            <div class="new-raview"><h2>\\New review!!//</h2></div>
            <div class="mx-auto">
                <div class="row">
                  <% @reviews_new4.each do |review| %>
                    <div class="col-3 fadein txt0 ">
                      <%= link_to review_path(review.id), class: "text-decoration-none" do %>
                        <div class="card text-dark tr-color h-100 bg-transparent border-0">
                          <%= image_tag(review.review_image.variant(resize: '120x120'), class: "card-img-top") if review.review_image.attached? %>
                          <div class="card-body">
                            <h6 class="card-title text-truncate"><%= review.title %></h6>
                            <p class="card-text text-truncate">
                             <%= review.body %>
                            </p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
          </div>
          </div>
          </div>

      </div>
    </div>
  </body>
</html>