<div class="container">
  <div class="row">
    <div class="col-md-3 ">
      <p class="text-danger">
        <%= notice %>
      </p>
      <h2 style="text-align: center;">\\Contributor!!//</h2><!-- title -->
        <!-- left container start -->
        <div style="text-align: center;">
          <%= image_tag current_member.get_profile_image(100,100) %>
        </div>
        <table class="table table-borderless">
          <tbody>
            <tr></tr>
            <tr>
              <th style="text-align: center;"><h4>\\Nick Name!!//</h4></th>
            </tr>
            <tr>
              <th style="text-align: center; "><%= current_member.nick_name %></th>
            </tr>
            <tr>
              <th style="text-align: center;"><h4>\\introduction!!//</h4></th>
            </tr>
            <tr>
              <th style="text-align: center;"><%= current_member.introduction %></th>
            </tr>
          </tbody>
        </table>
        <% if @member.name != 'guestmember' %>
          <div class="row">
            <%= link_to edit_mypage_path, class: 'btn btn-outline-secondary btn-block edit_user_108038' do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          </div>
        <% end %>
        <h2 style="margin-top: 30px; text-align: center;">\\Follow!!//<br />
          <%= link_to followings_path(member_id: @member.id), class: "text-decoration-none text-dark"  do %>
            <i class="fas fa-user-plus text-danger"></i>  <%= @member.followings.count %>
          <% end %>
        </h2>
        <h2 style="margin-top: 3px; text-align: center;">\\Follower!!//<br />
          <%= link_to followers_path(member_id: @member.id), class: "text-decoration-none text-dark" do %>
            <i class="fas fa-users text-danger"></i>  <%= @member.followers.count %>
          <% end %>
        </h2>

        <h2 style="margin-top: 3px; text-align: center;">\\Book Mark//<br />
          <%= link_to bookmark_index_path(member_id: @member.id), class: "text-decoration-none text-dark" do %>
            <i class="far fa-bookmark text-danger"></i>  <%= @member.bookmarks.count %>件
          <% end %>
        </h2>
    </div>
    <!-- left container end -->
    <!-- right container start  -->
    <div class="col-md-9">
          <!--検索、タグ検索機能-->
          <% if member_signed_in? %>
          <div class="search_form text-right">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.submit "検索" , class: 'btn btn-outline-secondary btn-sm'%>
            <% end %>
          </div>
          <% end %>
          <ul style="list-style: none;">
            <li>
              <%= link_to new_review_path, class: "btn custom-button" do %>
              <h2>
                <i class="fas fa-plus text-danger"></i>
                \\New Review!!//<i class="fas fa-pencil-alt"></i>
              <h2>
              <h6>Click here to register for review!!</h6>
              <% end %>
            </li>
          </ul>
          <h2 class="mt-3">\\My Posts!!!//</h2>
          <table class="table table-hover">
            <tr>
              <th class="custom-header"></th>
              <th class="custom-header"></th>
              <th class="custom-header">商品名</th>
              <th class="custom-header">掲載の有無</th>
              <th class="custom-header"></th>
              <th class="custom-header"></th>
              <th class="custom-header"></th>
            </tr>
            <% @member_reviews.order(created_at: :desc).each do |review| %>
            <tr>
              <td>
                <% if @current_time < review.created_at.since(7.days) %>
                  <div class = "new-mark">
                    <%= image_tag("new.png", alt: "new", width: "40", height: "40") %></div>

                <% end %>
              </td>
              <td><%= image_tag review.review_image.variant(resize:'100x100') if review.review_image.attached? %></td>
              <td><%= review.title %></td>
              <td>
                <% if review.is_active == true %>
                  掲載
                <% end %>
                <% if review.is_active == false %>
                  未掲載
                <% end %>
              </td>
              <td><!--いいね-->
                <div id = "like_<%= review.id %>">
                  <%= render partial: "public/reviews/like", locals: { review: review } %>
                </div>
              </td>
              <td>
                <p><%= link_to review_path(review.id), class: "text-decoration-none text-dark" do %>
                <i class="far fa-comment-alt text-danger"></i> <%=review.comments.count %> コメント
                <% end %></p>
              </td>
              <td>
                <%= link_to review_path(review.id), class: "text-decoration-none text-dark" do %>
                \\Show// <i class="fas fa-mouse-pointer text-danger"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
     <!-- right container end  -->
      </div>

        <%= paginate @member_reviews %>

      <div class="text-right mt-5">
          <%= link_to reviews_path, class: "btn custom-button" do %>
          <h2>
            <i class="fas fa-clipboard-list"></i>
            \\Review List!!//<i class="far fa-hand-point-up"></i>
          </h2>
          <h6 class ="text-danger">Let's go!!</h6>
          <% end %>
      </div>
    </div>
  </div>
</div>
