<ul>
  <% review.comments.each do |comment| %>
  <li class="row">
    <div class="col-3">
      <div class ="text-center"><%= image_tag comment.member.get_profile_image(100,100) %></div>
      <div class ="text-center"><%= comment.member.nick_name %></div>
    </div>
    <div class="col-9">
      <div class="text-right"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
      <div><%= comment.comment %></div>
      <div class="text-right">
        <span id ="comment_delete">
          <% if comment.member == current_member %>
            <%= link_to "削除", review_comment_path(review, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, remote: true, class: "btn btn-outline-danger btn-sm" %>
            <%#= link_to "削除", review_comment_path(review, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, remote: true, class: "btn btn-outline-danger btn-sm comment-delete-link" %>

          <% end %>
        </span>
      </div>
    </div>
  </li>
  <% end %>
</ul>