<div class="form-inline ">
  <%= form_tag({ controller: 'reviews', action: 'index' }, method: :get) do %>
    <%= select_tag :prefectur_search, options_from_collection_for_select(@tag_prefectures, 'prefecture', 'prefecture'), include_blank: '都道府県を選択してください' %>
    <%= submit_tag '検索', class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
  &emsp;&emsp;&emsp;

  <%= form_tag({ controller: 'reviews', action: 'index' }, method: :get) do %>
    <%= select_tag :food_category_search, options_from_collection_for_select(@tag_food_category, 'food_category', 'food_category'), include_blank: 'フードカテゴリーを選択してください' %>
    <%= submit_tag '検索', class: 'btn btn-outline-secondary btn-sm' %>
  <% end %>
  &emsp;&emsp;&emsp;
  <% if member_signed_in? %>
  <div class="search_form text-right">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "商品名やニックネーム、お値段を検索", size: 35 %>
      <%= f.submit "検索", class: 'btn btn-outline-secondary btn-sm' %>
    <% end %>
  </div>
<% end %>
</div>