<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>

      <!--検索、タグ検索機能-->
      <%= render 'search' %>

        <div class="new-review">
          <ul style="list-style: none;">
            <% if current_member.name != "guestuser" %>
            <li>
              <%= link_to new_review_path, class: "btn custom-button" do %>
                <h2>
                  <i class="fas fa-plus text-danger"></i>
                  \\New Review!!//<i class="fas fa-pencil-alt "></i>
                </h2>
                <h6>Click here to register for review!!</h6>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <h2 class="mt-3">
            <i class="fas fa-clipboard-list"></i>
            \\Review List!!//<i class="far fa-hand-point-up"></i>
      </h2>
      <table class="table table-hover">
        <tr>
          <th class="custom-header"></th>
          <th class="custom-header"></th>
          <th class="custom-header">商品名</th>
          <th class="custom-header">お値段</th>
          <th class="custom-header"></th>
          <th class="custom-header"></th>
          <th class="custom-header"></th>
        </tr>
        <% @reviews.order(created_at: :desc).each do |review| %>
        <!--新着から呼び出す-->
        <tr>
          <td>
            <% if @current_time < review.created_at.since(7.days) %>
              <div class = "new-mark">
                <%= image_tag("new.png", alt: "new", width: "40", height: "40") %></div>
              </div>
            <% end %>
          </td>
          <td><%= image_tag review.review_image.variant(resize:'100x100') if review.review_image.attached? %></td>
          <td class ="col-4"><%= review.title %></td>
          <td><%= review.price%>円</td>
          <!--iine 非同期通信-->
          <td>
            <div id = "like_<%= review.id %>">
              <%= render partial: "like", locals: { review: review } %>
            </div>
        　</td>
          <td>
            <p>
              <%= link_to review_path(review.id), class: "text-decoration-none text-dark" do %>
                <i class="far fa-comment-alt text-danger"></i> 
                <span id="comment_count"><%=review.comments.count %> コメント</span>
              <% end %>
            </p>
          </td>
          <td>
            <%= link_to review_path(review.id), class: "text-decoration-none text-dark" do %>
            \\Show// <i class="fas fa-mouse-pointer text-danger"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>

  </div>
</div>
<%= paginate @reviews %>
