<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-7 px-5 px-sm-0 mx-auto">

      <div class="errors text-danger">
        <% if @review.errors.any? %>
        <%= @review.errors.count %>件のエラーが発生しました
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <h2>\\New Review Post!!//</h2>

      <%= form_with model: @review do |f| %>
        <table class ='table'>
          <tr>
            <th class="col-5 custom-td">お取り寄せ画像</th>
            <td><%= f.file_field :review_image, accept: "image/*" %></td>
          </tr>
          <tr>
            <th class="col-5 custom-td">お取り寄せ商品名</th>
            <td><%= f.text_field :title, class: "custom-input", size: "40" %></td>
          </tr>
          <tr>
            <th class="col-5 custom-td">お取り寄せ商品レビュー</th>
            <td><%= f.text_area :body, class: "custom-input",size: "40" %></td>
          </tr>
          <tr>
            <th class="col-5 custom-td">地域</th>
            <td><%= f.select :prefecture, Review.prefectures.keys.to_a, {:include_blank => "都道府県を選択ください"} %></td>
          </tr>
          <tr>
            <th class="col-5 custom-td">食品カテゴリー</th>
            <td><%= f.select :food_category, Review.food_categories.keys.to_a, { :include_blank => "カテゴリを選択ください"} %></td>
          </tr>
          <tr>
            <th class="col-5 custom-td">税込価格</th>
            <td><%= f.text_field :price, class: "custom-input", placeholder: "半角数字" %>円</td>
          </tr>
          <tr>
            <th class="col-5 custom-td">掲載ステータス</th>
            <td>
              <%= f.label :sales_status_on_sale, '掲載する' %>
              <%= f.radio_button :is_active, :true %>
              <%= f.label :sales_status_draft, '掲載しない' %>
              <%= f.radio_button :is_active, :false, checked: true %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td align="right">
              <%= f.submit "\\\\Let's write!//", class: "btn btn-outline-secondary" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
